.tic-tac-toe-app {
  text-align: center;
}

.title-header {
  height: 20vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: "#6b93d6";
}


@media (max-width: 450px) {
  .title-header {
    height: 14vh;
  }

}