.board{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    border: 50px solid white;
    
}
.board .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;

  }
  
.board .column {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex: 1;
  }
  

 